.user-item-container {
  background-color: var(--platinum);
  border-radius: 19px;
  border: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  width: 95%;
  margin: 40px auto;
  padding: 15px 0px 15px 30px;
}

.user-item-container > svg {
  height: 90%;
  width: 7%;
  cursor: pointer;
  margin-right: 10px;
}

.user-item-container > svg:hover {
  opacity: 0.8;
  width: 6.8%;
  height: 97%;
}

.user-item-container > h2 {
  font-size: 1.3rem;
  margin-top: 7px;
}
