.chat-list-item {
  position: relative;
}

@keyframes #{move-right} {
  0% {
    padding-left: 2%;
  }
  100% {
    padding-left: 40%;
  }
}

.chat-list-link {
  text-decoration: none;
  background-color: var(--platinum);
  cursor: pointer;
  border-radius: 19px;
  display: none;
  height: 70px;
  width: 95%;
  margin: 40px auto;
  padding: 17.5px 0px 17.5px 40%;
  border: 2px solid var(--blue);
  animation: 0.5s #{move-right};
  animation-play-state: paused;
}

.chat-list-button {
  text-decoration: none;
  background-color: var(--platinum);
  cursor: pointer;
  border-radius: 19px;
  display: flex;
  height: 70px;
  width: 95%;
  margin: 40px auto;
  padding: 20px 0px 20px 2%;
  color: black;
}

.chat-list-item:hover > button {
  display: none;
}

.chat-list-item:hover > .chat-list-link {
  display: block;
}


.chat-list-link:hover {
  animation-play-state: running;
}

.chat-list-button > h2 {
  //color: var(--black);
}
