.chat-room-container {
  height: 87.51vh;
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow: hidden;
}

.chat-room-inner {
  overflow-y: scroll;
}

.chat-room {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-height: 100vh;
  &-header {
    width: 100%;
    height: 80px;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: row;
    h1 {
      color: var(--dark-blue);
      padding: 15px 10px;
    }
    img {
      border-radius: 50%;
      height: 70px;
      width: auto;
      padding-top: 7px;
      padding-left: 0.7%;
      margin-right: 0.3%;
    }
  }
}
