.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-header {
  width: 100%;
  height: 80px;
  background-color: var(--violet-red);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &-logo {
    height: 70%;
    width: 5%;
  }
}

.login-link {
  color: var(--black);
  font-size: 1.5rem;
  padding-top: 24px;
}

.signup-div > h1 {
  color: var(--blue);
  padding-bottom: 30px;
  font-size: 2.5rem;
}

.signup-div {
  border: 10px solid var(--violet-red);
  background-color: var(--white);
  box-shadow: 8px 8px 8px 6px #D9D2D2;
  border-radius: 116px;
  margin: auto;
  width: 25%;
  height: 700px;
  position: absolute;
  top: 17%;
  padding: 4% 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-div > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.signup-form-group > input {
  background-color: var(--light-gray);
  height: 40px;
  margin-top: 5px;
  padding: 5px 2%;
}

.signup-form-group > input:focus {
  background-color: var(--light-blue);
}

.signup-form-group > label {
  font-size: 1.2rem;
}

.signup-form-group > .errors {
  height: 10px;
  width: 100%;
  color: red;
}

.signup-submit {
  width: 70%;
  height: 30px;
  border-radius: 20px;
  background-color: var(--blue);
  cursor: pointer;
}

.signup-submit:hover {
  width: 80%;
}

.signup-submit:focus {
  outline: none;
}
